.cart {
	padding: 2rem;
	width: 23.5625rem;
	background-color: var(--color-white);
	border-radius: 0.5rem;

	.cart-header {
		margin-bottom: 2rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.cart-body {
		margin-bottom: 2rem;
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		.item-wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.item {
				display: flex;
				align-items: center;
				gap: 1rem;

				.img {
					max-width: 4rem;
					border-radius: 0.5rem;
					overflow: hidden;
				}

				.desc {
					p {
						font-weight: 700;
					}

					span {
						font-size: 0.875rem;
						font-weight: 700;
						line-height: 1.5625rem;
						opacity: 0.5;
					}
				}
			}
		}
	}

	.cart-footer {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;

		.total {
			display: flex;
			justify-content: space-between;
			align-items: center;

			p {
				opacity: 0.5;
				text-transform: uppercase;
			}
		}
	}

	@media (max-width: 500px) {
		padding: 1.5rem;
		width: 20.4375rem;
	}

	@media (max-width: 374px) {
		padding: 1.5rem;
		width: 18.4375rem;
	}
}
