.categories-section {
	padding: 12.5rem 0 10.5rem;
}

.section-one {
	padding-bottom: 3rem;
}

.section-two {
	padding-bottom: 3rem;
}

.section-three {
	padding-bottom: 10rem;
}

@media (max-width: 1024px) {
	.categories-section {
		padding: 9rem 0 6rem;
	}
	.section-three {
		padding-bottom: 6rem;
	}
}

@media (max-width: 767px) {
	.categories-section {
		padding: 6rem 0 7.5rem;
	}
}
