.summary {
	width: 21.875rem;
	height: fit-content;
	border-radius: 0.5rem;
	padding: 2rem;
	background-color: var(--color-white);

	.summary-header {
		margin-bottom: 1.94rem;
	}

	.summary-body {
		margin-bottom: 2rem;
		display: flex;
		flex-direction: column;
		gap: 1.5rem;

		.item-wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.item {
				display: flex;
				align-items: center;
				gap: 1rem;

				.img {
					max-width: 4rem;
					border-radius: 0.5rem;
					overflow: hidden;
				}

				.desc {
					p {
						font-weight: 700;
					}

					span {
						font-size: 0.875rem;
						font-weight: 700;
						line-height: 1.5625rem;
						opacity: 0.5;
					}
				}
			}
		}
	}

	.summary-footer {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;

		.price-wrapper {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;

			.total,
			.shipping,
			.vat {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}

			p {
				opacity: 0.5;
			}
		}

		.grand-total {
			display: flex;
			align-items: center;
			justify-content: space-between;

			p {
				opacity: 0.5;
			}

			h6 {
				color: var(--color-accent);
			}
		}
	}

	@media (max-width: 1220px) {
		width: 100%;
	}
}
